/* Career Section */
.career {
    padding: 70px 20px;
    background-color: #0f172a;
    color: #e2e8f0;
    text-align: center;
}

.career-container {
    max-width: 800px;
    margin: 0 auto;
}

.career h2 {
    font-size: 2.6rem;
    color: #38bdf8; /* Soft accent color */
    margin-bottom: 20px;
    font-weight: 700;
}

.career p {
    font-size: 1.2rem;
    color: #cbd5e1;
    margin-bottom: 30px;
    line-height: 1.8;
}

.career a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.career a:hover {
    color: #fff;
    text-decoration: underline;
}

.career-wrapper {
    margin-top: 30px;
}

.career-btn {
    text-decoration: none !important;
    color: #38bdf8;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 30px;
    border: 2px solid #38bdf8;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.career-btn:hover {
    color: #0f172a !important;
    background-color: #38bdf8;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(56, 189, 248, 0.5);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .career{
        padding: 30px 10px;
    }
    .career-container {
        padding: 20px;
    }
    .career h2 {
        font-size: 2rem;
    }

    .career p {
        font-size: 1rem;
    }

    .career-btn {
        font-size: 1rem;
        padding: 12px 24px;
    }
}
